rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 全てのドキュメントに対して、認証なしで読み書きを完全に許可（エラー停止のための最終措置）
    match /{document=**} {
      allow read, write: if true;
    }
    
    // Deployment trigger: 2024-05-25T00:00:10Z (Access Fully Open)
  }
}