
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 【表示用サイトの権限設定】
    
    // 全般設定
    match /{document=**} {
      // 全ユーザー（ログイン不要）に読み取りを許可
      allow read: if true;
      
      // 書き込みは、指定された管理者メールアドレス（r06hgunews@gmail.com）でログインしている場合のみ許可
      allow write: if request.auth != null && request.auth.token.email == "r06hgunews@gmail.com";
    }
  }
}
